* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}
.container {
  width: 300px;
  height: 450px;
  background-color: antiquewhite;
  border-radius: 1.5rem;
  outline: 5px solid gray;
  padding: 20px;
  padding-top: 35px;
  box-shadow: 0px 0px 100px 20px gray;
}
.container input {
  width: 100%;
  border-style: none;
  height: 50px;
  border-radius: 1rem;
  outline: 2px solid;
  font-size: 20px;
  text-align: right;
  padding-right: 10px;
}
.keys {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding-bottom: 20px;
}
.keys button {
  width: 50px;
  height: 50px;
  border-style: none;
  border-radius: 1rem;
  background-color: rgb(36, 35, 35);
  color: aliceblue;
  font-size: 18px;
  font-weight: 600;
}
#equal {
  width: 100%;
  height: 50px;
  border-style: none;
  border-radius: 1rem;
  background-color: rgb(36, 35, 35);
  color: aliceblue;
  font-size: 18px;
  font-weight: 600;
}
.keys button.operator {
  background-color: orangered;
}
#C {
  background-color: red;
}
#equal:hover {
  opacity: 0.9;
  box-shadow: 1px 1px 5px rgb(36, 35, 35);
}
#equal:active {
  opacity: 1;
}
.keys button:hover {
  opacity: 0.9;
  box-shadow: 1px 1px 5px rgb(36, 35, 35);
}
.keys button:active {
  opacity: 1;
}
